*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
    /* border: 2px solid blue; */
    width: 1440px;
    height: 3850px;
    position: relative;
}
nav{
    /* border: 5px solid rgb(148, 147, 147); */
     width: 100%;
    /* height: 72px; */
    gap: 10px;
    padding: 1% 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;

}
nav ul{
    /* border: 1px solid black; */
    /* width: 421px; */
    width: 29%;
    height: 20px;
    font-family: 1rem;
     display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    list-style: none;
    
}
ul li{
    margin-right: 11%;
}
nav div{
    /* border: 2px solid black; */
    width: 170.24px;
       height: 33.38px;
      gap: 7.96px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color:yellow;
}
nav button{
    /* border-radius: 8px; */
    /* width: 136px; */
     height: 40px;
    gap: 8px;
    padding: 12px;

}
.logo-btn{
    /* border: 1px solid green; */
    /* width: 792px; */
    width: 55%;
    display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.outer-main{
    /* border: 5px solid red; */
    width: 100%;
    height: 622px;
    display: flex;
    flex-direction: row;
     align-items: center;
     padding: 32px 104px;
    position: absolute;
    top:72px;
    left: 0;
}
.welcomImgContent{
    /* border: 12px solid green; */
    /* width: 1232px; */
     width: 100%;
    display: flex;
    gap: 104px;
}
.welcomiphon{
    /* border: 2px solid blue; */
    /* width: 464px; */
    width: 57%;
    height: 520px;
    position: relative;
}
.iphon1{
     /* border:2px solid red; */
     height: 515px;
     position: absolute;
     top:0px;
    left: 35%;     
}
 .iphon2{
     /* border:2px solid blue; */
    height: 360px;
     position: absolute;
    top:155px;
    left: 2%;    
   
}
.welcomContent{
    /* border: 1px solid black; */
    /* width: 664px; */
    width: 53%;
     height: 464px;
    gap: 24px;
    display: flex;
    flex-direction: column;
   align-items: right;
   justify-content: center;
}
.welcomTo h1{
    font-size: 3.5rem;
}
.outer-welcom-btn{
/* border: 1px solid black; */
width: 288px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.outer-welcom-btn button{
    border: 2px solid black;
    border-radius: 8px;
    width: 136px;
    height: 40px;
    
}
.outer-welcom-btn button:first-child{
    background-color: yellow;
}
.fourBoxes{
    /* border: 2px solid black; */
    width: 100%;
    height: 144px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 88px;
    position: absolute;
    top:706px;
    
}
.fourBoxes div{
    /* border: 1px solid black; */
    border-radius: 8px;
    width: 80px;
    height: 80px;
    background-color: rgb(226, 226, 226);
}
.managementSection{
    /* border: 5px solid green; */
    width: 100%;
    height: 288px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:860px;

}
.managementSection div{ 
    /* border: 2px solid black;  */
    text-align: center;
    width: 29%;
    height: 192px;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.StrategySec{
    /* border: 2px solid red; */
    position: absolute;
    top: 1138px;
    width: 100%;
     /* padding:32px 104px 88px 104px; */
       padding:32px 104px;
}
.strImgCon, .TecImgCon{
    /* border: 1px solid blue; */
    width: 100%;
    display: flex;
    gap: 104px;
}

.strategyImg,.technologyImg{
    /* border: 2px solid black; */
    border-radius: 15px;
    width: 38.5%;
    height: 464px;
    background-color: rgb(206, 205, 205);
}
.strategyContent,.technologyContent{
    /* border: 12px solid green; */
    width: 53%;
    height: 464px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: right;
    justify-content: center;
}
.strategyContent button, .technologyContent button{
    width: 136px;
    height: 40px;
    background-color: black;
    color:white;
    border-radius: 8px;
}
.TechnologyContent{
    /* border: 10px solid blue; */
     width: 100%;
    position: absolute;
    top:1700px;
    left: 0;
    padding: 32px 104px;
}
.graoundBreaking{
     /* border: 10px solid brown; */
     width: 100%;
    position: absolute;
    top:2280px;
    left: 0;
    padding: 32px 104px;
}

.outerArticle{
    /* border: 5px solid blue; */
    width: 100%;
    height: 612px;
    position: absolute;
    top:2860px;
    display: flex;
    flex-direction: column;
    align-items: center;
     gap:24px;
     padding: 55px 0;
    }
  .headingArticle{
    /* border: 2px solid green; */
    width: 86%;
    height: 44px;
  }  
  .outerBorderArticles{
    /* border: 2px solid red; */
    width: 86%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } 
  .Articles{   
    /* border: 2px solid black; */
     width: 24%;
    height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  } 
  .articleImg{
    /* border: 0px solid black; */
    background-color: rgb(212, 212, 212);
    border-radius: 15px;
    width: 100%;
    height: 316px;
  }
.borSubscribe{
    /* border: 2px solid red; */
    width: 100%;
    position: absolute;
    top:3540px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribeNew{
     width: 85%;
    height: 236px;
    background-color: rgb(218, 216, 216);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: left;
    gap: 24px;
    padding: 0 60px;
}
.subscribeNew button{
    width: 136px;
    height: 40px;
    background-color: yellow;
    color:black;
    border-radius: 8px;
}
.BorderFooter{
    /* border: 2px solid black; */
   padding: 5%;
   background-color: rgb(32, 31, 31);
   color:rgb(197, 194, 194);
    width: 100%;
    position: absolute;
  top:3850px;
}
.innerBorderFooter{
    /* border: 2px solid rgb(20, 251, 128); */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.innerBorderFooter ul{
    list-style: none;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
     padding: 20px 0;
}
.footerLogos{
    /* border: 2px solid black; */
     width: 100%;
     height: 40px;
   display: flex;
   justify-content: right;
   align-items: center;
   gap: 40px;
}
.footerLogos img{
    /* border: 2px solid black; */
    width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
}
.footerLinks{
    /* border: 2px solid blue; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.FLinks{
    /* border: 2px solid red; */
    width: 31%;
    display: flex;
    justify-content: space-between;
}

 @media (max-width: 393px) {
        ul{
        visibility: hidden;
    }
    .welcomImgContent{
        display: block;
        
    }
    .welcomiphon{
        width: 100%;
    }
    .iphon1 img{
        
        width: 100%;
    }
    .welcomContent{
        width: 100%;
    }
    .outer-main{
        padding: 0;
        height: 1010px;
        top:200px;
       
    }
    .welcomImgContent{
        padding: 0;
      
        
    }
    .fourBoxes{
         top:1200px;
    }
    .managementSection{
        top:1300px;
    }
    .StrategySec{
        top:1530px;
    }
    .strImgCon, .TecImgCon{
        display: block;
    }
    .strategyImg,.technologyImg {
        width: 100%;
    }
    .strategyContent,.technologyContent{
        width: 100%;

    }

     .TechnologyContent{      
         top:2550px;
         
     }
.graoundBreaking{
    top:3550px;
}
.outerArticle{
         top:4000px;
}
.outerArticle{
    top:4590px;
}
.borSubscribe{
  top:5200px;   
}
.BorderFooter{
    top:5500px;
}
    
 }