
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#root{
     width: 1440px;
   }

nav{
     width: 100%;
     gap: 10px;
    padding: 1% 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;

}
.navList{
    display: flex;
    
}
.navList .threeLine{
    width: 10%;
    display: none;
   }

nav .navList{
     width: 30%;
}
nav ul{
     width: 90%;
    height: 20px;
    font-family: 1rem;
     display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* align-items: center; */
    list-style: none;
    
}
ul li a{
    text-decoration: none;
}
nav div{
     width: 170.24px;
       height: 33.38px;
      gap: 7.96px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    }
nav button{
       height: 40px;
    gap: 8px;
    padding: 12px;

}
.squareLogo{
display: none;
}
.logo-btn{
     width: 55%;
    display: flex;
   flex-direction: row;
   justify-content: space-between;
   align-items: center;
}
.outer-main{
    /* border: 2px solid green; */
     width: 100%;
    height: 622px;
    display: flex;
    flex-direction: row;
    padding: 3% 7%;
    position: absolute;
    top:72px;
    left: 0;
    overflow: hidden;
}
.welcomImgContent{
    /* border: 2px solid blue; */
    height: 100%;
    width:  100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
     overflow: hidden;
}
.iphoneImage{
    /* border: 2px solid red; */
    width: 55%;
    position: relative;
    
}


 .iphon1 {
      width: 70%;
    height: 95%;
    position: absolute;
    top: 50px;
    /* left: 230px; */
    left: 30%;
    background-image: url('/Devices (5).svg');
    background-size: cover;       /* 🔥 important */
    background-position: center;
    background-repeat: no-repeat;
}

.iphon2 {
    /* border: 2px solid black; */
    /* width: 339px;
    height: 427px; */
     width: 70%;
    height: 80%;
    position: absolute;
    top: 208px;
    background-image: url('/iPhone15.svg');
    background-size: cover;
    background-position: center;
}
.welcomContent{
    /* border: 2px solid red; */
    width: 40%;
     height: 464px;
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.welcomTo h1{
    font-size: 3.5rem;
}
.outer-welcom-btn{
    /* border: 2px solid red; */
width: 85%;
margin-top: 50px;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.outer-welcom-btn button{
    /* border: 2px solid black; */
    border-radius: 8px;
    width: 136px;
    height: 40px;
    
}
.outer-welcom-btn button:first-child{
    background-color: yellow;
}
.fourBoxes{
    width: 100%;
    height: 144px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 88px;
    position: absolute;
    top:706px;
    
}
.fourBoxes div{
     border-radius: 8px;
    width: 80px;
    height: 80px;
    background-color: rgb(226, 226, 226);
}
.managementSection{
    width: 100%;
    height: 288px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:860px;

}
.managementSection div{ 
    text-align: center;
    width: 29%;
    height: 192px;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.StrategySec{
     position: absolute;
    top: 1138px;
    width: 100%;
     /* padding:32px 104px 88px 104px; */
       padding:32px 104px;
}
.strImgCon, .TecImgCon{
    width: 100%;
    display: flex;
    gap: 104px;
}

.strategyImg,.technologyImg{
    border-radius: 15px;
    width: 38.5%;
    height: 464px;
    background-color: rgb(206, 205, 205);
}
.strategyContent,.technologyCont{
     width: 53%;
    height: 464px;
    display: flex;
    flex-direction: column;
    gap: 48px;
    align-items: right;
    justify-content: center;
}
.strategyContent button, .technologyCont button{
    width: 136px;
    height: 40px;
    background-color: black;
    color:white;
    border-radius: 8px;
}
.TechnologyContent{
    width: 100%;
    position: absolute;
    top:1700px;
    left: 0;
    padding: 32px 104px;
}
.graoundBreaking{
     width: 100%;
    position: absolute;
    top:2280px;
    left: 0;
    padding: 32px 104px;
}

.outerArticle{
     width: 100%;
    height: 612px;
    position: absolute;
    top:2860px;
    display: flex;
    flex-direction: column;
    align-items: center;
     gap:24px;
     padding: 55px 0;
    }
  .headingArticle{
    width: 86%;
    height: 44px;
  }  
  .outerBorderArticles{
    width: 86%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  } 
  .Articles{   
    width: 24%;
    height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  } 
  .articleImg{
     background-color: rgb(212, 212, 212);
    border-radius: 15px;
    width: 100%;
    height: 316px;
  }
.borSubscribe{
     width: 100%;
    position: absolute;
    top:3540px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.subscribeNew{
     width: 85%;
    height: 236px;
    background-color: rgb(218, 216, 216);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    animation: left;
    gap: 24px;
    padding: 0 60px;
}
.subscribeNew button{
    width: 136px;
    height: 40px;
    background-color: yellow;
    color:black;
    border-radius: 8px;
}
.BorderFooter{
  padding: 5%;
   background-color: rgb(32, 31, 31);
   color:rgb(197, 194, 194);
    width: 100%;
    position: absolute;
  top:3850px;
}
.innerBorderFooter{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.innerBorderFooter ul{
    list-style: none;
    border-bottom: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
     padding: 20px 0;
}
.footerLogos{
     width: 100%;
     height: 40px;
   display: flex;
   justify-content: right;
   align-items: center;
   gap: 40px;
}
.footerLogos img{
     width: 25px;
    height: 25px;
    border-radius: 50%;
    text-align: center;
}
.footerLinks{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}
.FLinks{
    width: 31%;
    display: flex;
    justify-content: space-between;
}

 @media (max-width: 420px)
  {
    
nav .navList{
display: block;
z-index: 1;
}
.navList ul{
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 height: 60vh;
 background-color: black;
  display: none;

 }
.navList ul li{
    padding: 20px 0;
    /* border: 1px solid blue; */
}
       
    .navList ul li a{
        color:white;
        text-decoration: none;
        font-size: 30px;
    } 
    nav ul.open{
        display: flex;
    }

    .welcomImgContent{
        display: block;
        
    }
    .welcomiphon{
        /* width: 100%; */
    }
       .welcomContent{
        width: 100%;
    }
    .outer-main{
        top:48px;
       padding: 0;
    }
   
    .iphoneImage{
        /* border: 5px solid black; */
        margin-top:40%;
        height: 400px;
        width: 100%;
       position: relative;
    }

    .fourBoxes{
         top:670px;
    }
    .managementSection{
        /* border: 2px solid black; */
         height: 412px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        top:840px;
    }
    .managementSection div {
         font-size: 30px;
        width: 100%;
    }
    .StrategySec{
        /* border: 2px solid black; */
         padding: 24px 43px;
          height: 572px;
        top:1270px;
    }
    .strImgCon, .TecImgCon{
          display: block;
    }
    .strategyImg,.technologyImg {
        width: 100%;
        height: 224px;
    }
    .strategyContent,.technologyCont{
        height: 265px;
        width: 100%;
          padding: 24px 43px;
    }
    .strategyContent h1{
        margin-top: 90px;
    }
    .technologyCont button{
        margin-bottom: 50px;
    }

     .TechnologyContent{  
        /* border: 2px solid red;     */
           top:1870px;
          
          padding: 24px 43px;
     }
.graoundBreaking{
    /* border:2px solid red; */
    top:2426px;
    height: 600px;
    padding: 24px 43px;
}
.outerArticle{
display: none;
}

.borSubscribe{
  top:3098px; 
  text-align: center;  
  height: 305px;
}
.borSubscribe button{
    width: 100%;
}
.BorderFooter{
    top:3400px;
}
.fourBoxes{
   gap:0;
   display: flex;
   align-items: center;
   justify-content: space-evenly;
}
.fourBoxes div:first-child{
   display: none;
}
.squareLogo{
   display: block;
}
.rectangularLogo{
    display: none;
}
.navList .threeLine{
    display: block;
}

 .welcomImgContent{
     width: 100%;
    height: 550px;
    overflow: hidden;
 }
.welcometoWhere{
    width: 100%;
    font-size: 20px;
    text-align: center;
    height: 136px;
    position: absolute;
    top:0px;
}
.WelcomeLorem{
    /* border: 2px solid red; */
    background-color: white;
    display: none;
    }
 .iphon1 {
    width: 83%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 29%;
   background-size: cover;
    background-position: center;
  
}

.iphon2 {
    width: 75%;
    height: 70%;
    position: absolute;
    top: 120px;
    left: -30px;
    background-size: cover;
    background-position: center;
}
.outer-welcom-btn{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.outer-welcom-btn button{
    width: 40%;

} 
 

 }
 .Aboutcontainer{
    /* border: 2px solid red; */
    width: 100%;
    position: absolute;
    top:72px;
    padding: 88px 104px;
 }
 .outerborder{
    /* border: 5px solid green; */
      display: flex;
      justify-content: space-between;
 }
 .AboutImage{
    /* border: 5px solid black; */
      width: 54%;
    height: 720px;
   display: flex;
   justify-content: space-between;
 }
 .AboutContent{
    /* border: 2px solid green; */
     width: 35%;
    height: 672px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 }
 .firstimag{
    /* border: 2px solid blue; */
    border-radius: 17px;
     width: 48%;
    height: 630px;
    margin-top: 88px;
    background-image: url("1PlaceholderImages (2).svg");
     background-size: cover;      
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(221, 218, 218);
    
 }
 .secondimag{
    /* border: 2px solid black; */
       width: 48%;
    height: 630px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 }
 .topimage , .bottomimage{
    /* border: 2px solid green; */
     border-radius: 17px;
    width: 100%;
    height: 300px;
    background-image: url("1PlaceholderImages (2).svg");
     background-size: cover;      
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(221, 218, 218);
 }
 .aboutheading{
    /* border: 2px solid blue; */
     width: 100%;
    height: 268px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
 }
  .aboutheading h1{
    font-size: 40px;
  }
    .aboutheading p{
    font-size: 21px;
  }
  .AboutContent ul{
    list-style: none;
    /* border: 2px solid red; */
      width: 100%;
    height: 146px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
        }
    .AboutContent ul li{
        font-size: 23px;
        
    }
    .aboutOurStory{
        /* border: 2px solid red; */
        padding: 88px 104px 48px 104px;
        width: 100%;
        height: 752px;
        position: absolute;
        top:968px;
          display: flex;
    flex-direction: row;
    justify-content: space-between;
    }
    .storyHeading{
        /* border: 2px solid blue; */
          width: 32%;
        height: 70px;
        font-size: 35px;
        text-align: right;

    }
.storyDetail{
    /* border: 2px solid black; */
      width: 39%;
    height: 616px;
  
}
.aboutOurTeam{
    /* border: 2px solid red; */
    position: absolute;
    top:1720px;
    width: 100%;
    height: 670px;
    padding: 8px 104px 32px 104px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

}
.ourTeamHeading{
    /* border: 2px solid black; */
    width: 80%;
    /* height: 132px; */
    text-align: center;
    font-size: 40px;
}
.ourTeamBranches {
    /* border: 2px solid blue; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

   
}
.TwooutrTeambr{
    /* border: 2px solid red; */
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.ourTeamBranches .ourTeambox{
    /* border: 2px solid black; */
     border-radius: 17px;
    width: 46%;
    height: 430px;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

}
.branchephoto{
    /* border: 2px solid red; */
    border-radius: 15px;
    width: 100%;
    height: 290px;
    background-color: rgb(221, 221, 221);
    background-image: url(Avatars.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}
 .ourTeambox button{
    width: 50%;
    margin-left: 25%;
    border-radius: 9px;
    background-color: black;
    color:white;
 }
 .aboutBranchDetail{
    /* border: 2px solid blue; */
    width: 100%;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
 }
 .aboutStbscribe{
      width: 100%;
    position: absolute;
    top:2440px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .AboutBorderFooter{
    /* border: 2px solid red; */
      padding: 5%;
   background-color: rgb(32, 31, 31);
   color:rgb(197, 194, 194);
    width: 100%;
    position: absolute;
  top:2750px;
 }
 @media (max-width: 393px){
  .secondimag{
    display: none;
    
  }  
  .outerborder{
    display: block;
  }
  .AboutImage{
    display: block;
    width: 100%;
    
  }
 
  .Aboutcontainer{
    /* border: 2px solid red; */
    padding: 0 5%;
    margin: 0;
    top:0;
   
  }
  .firstimag{
    width: 100%;
  }
  .AboutContent{
    /* border: 2px solid blue; */
    display: flex;
      width: 100%;
  }
  .aboutOurStory{
    /* border: 2px solid black; */
    top:1500px;
    padding: 0 5%;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 1000px;
  }
  .storyHeading{
    /* border: 2px solid red; */
    width: 100%;
    display: block;
  }
  .storyDetail{
    /* border: 2px solid black; */
    width: 100%;
    height: 850px;
  }
  .aboutOurTeam{
    /* border: 2px solid blue; */
    top:2500px;
    padding: 0 5%;
  }
  .aboutStbscribe{
    /* border: 2px solid black; */
    top:3500px;
  }
  .AboutBorderFooter{
    top:3800px
  }
  .ourTeamHeading{
    width: 100%;
    /* border: 2px solid black; */
    font-size: 20px;
  }
  .ourTeamBranches{
    /* border: 2px solid green; */
    width: 100%;
     display: block;
  }
  .ourTeambox{
    width: 50%;

  }
  .TwooutrTeambr{
width: 100%;
  }
 
}

.blogBodybordr{
    /* border: 2px solid red; */
    width: 100%;
    position: absolute;
    top:100px;
     padding: 0px 70px;
}
.blogArticles{
    /* border: 5px solid yellowgreen; */
    display: flex;
    justify-content: space-between;
}
.blogLatestArticles{
    /* border:5px solid black; */
    width: 49%;
   }
   .latestArticlesImg{
    /* border: 2px solid blue; */
    border-radius: 15px;
    height: 300px;
    width: 100%;
    /* background-image: ; */
    background-color: rgb(210, 208, 208);
   }
   .latestArticlesDetail{
    /* border: 2px solid red; */
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
   }
   .latestArticlesDetail button{
    /* border: 2px solid red; */
    width: 13%;
    padding: 5px 0px;
    border-radius: 7px;
    margin-right: 2%;
   }
   .blogLatestArticles h5{
    margin: 0.5rem 0;
   }
  .blogBodybordr h1{
    margin: 1rem 0;
  }
  .blogGustav{
    /* border: 5px solid green; */
    width: 49%;
     }
  .gustavchip1{
    /* border: 2px solid red; */
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .gustavchipImg{
    /* border: 2px solid black; */
    border-radius: 11px;
    width:  48%;
    height: 200px;
    background-color: rgb(203, 200, 200);
  }
  .gustavchipDetail{
    /* border: 2px solid blue; */
    width: 48%;
    display: flex;
    flex-direction: column;
    gap:14px;
  }
  .gustavchipDetail button{
    width: 29%;
    padding: 0.4rem 0;
    border-radius: 9px;

  }
  .gustavchip1{
    margin-bottom: 2rem;
  }
  .blogBodybordr h4{
    margin: 0.5rem 0;
  }
  .blogArchiveHeading{
    /* border: 2px solid black; */
    width: 100%;
    position: absolute;
    top:1020px;
    display: flex;
    flex-direction: column;
    gap: 27px;
    padding: 0 70px;
  }
  .inputContainer{
    /* border: 1px solid black; */
    width: 29%;
    height: 2rem;
    display: flex;
    flex-direction: row;
     }

  .inputContainer img{
    /* border: 2px solid black; */
    width: 10%;
    height: 100%;
  
  }
  .inputContainer input{
    border: none;
    height: 100%;
    width: 80%;
    padding-left: 3%;
  }
  .archiveFirstIreo{
    /* border: 2px solid green; */
    width: 32%;
    height: 270px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .archiveImg{
    /* border: 2px solid black; */
    border-radius: 14px;
    height: 200px;
    width: 100%;
      background-color: rgb(210, 208, 208);
  }
  .twoButton{
    /* border: 2px solid red; */
    width: 40%;
    display: flex;
    justify-content: space-between;
  }
    .twoButton button{
      width: 45%;
    }
  .archiveSection{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  @media (max-width: 433px){
    .blogArchiveHeading{
      display: none;
      
    }
   .blogBodybordr {
    padding: 0 5%;
      top:60px;  
   }
   .blogArticles{
    display: block;

   }
  .blogLatestArticles {
width: 100%;
/* height: 750px; */
  } 
  .latestArticlesDetail{
    height: 440px;
  }
   .blogGustav{
    width: 100%;
   
   }
   .blogGustav p{
    display: none;
   }
   .gustavchip1{
    /* border: 5px solid red; */
    flex-direction: row-reverse;
    margin-top: 2rem;
   }
   .NaveBar{
    padding: 1rem;
   }
   .logo-btn button{
    font-size: 9px;
      padding: 0;
   }
  
}
.contactHeading{
  border: 2px solid black;
  display: flex;
   justify-content: space-between;
  font-size: 21px;
}
.contactHeading h1{
  width: 70%;
}
.contactContainer p{
  font-size: 19px;
}
.inputSection{
  border: 1px solid black;
  width: 30%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inputSection input{
  width: 80%;
  height: 100%;
  border-style: none;
}
.inputSection button{
width: 20%;
height: 80%;
}
.contactContainer{
  border: 2px solid green;
  width: 100%;
   display: flex;
  flex-direction: column;
gap: 24px;
padding: 0 3rem;
position: absolute;
top:100px;
}

 /* background-image: url(Avatars.svg); */
 .contactBigImg{
  border: 5px solid black;
   height: 632px;
   width: 100%;
  border-radius: 15px;
  background-color: rgb(216, 213, 213);
 }
 .moreDetaiContact{
  border: 2px solid red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
 }
 .logofirstLast{
  border: 2px solid black;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
   background-image: url(Avatars.svg);
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
 }
 .logodetail{
  border: 2px solid black;
 width: 23%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
 }
 .contactDetail{
  border: 2px solid blue;
  position: absolute;
  top:350px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding:  0 3rem;
  gap: 24px;
 }
 .firstLastBtn{
  border: 2px solid green;
  width: 25%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 }
 .firstLastBtn button{
  width: 30%;
  padding: 0.4rem 0;
 }